/* Zorg ervoor dat alleen de tabel scrollbaar is */
#scoreboard-container {
  overflow-x: auto; /* Horizontale scrollbalk */
  margin: 0 auto;
  max-width: 100%; /* Zorgt ervoor dat de container niet breder wordt dan het scherm */
}

#scoreboard {
  width: 100%; /* Zorg ervoor dat de tabel breed genoeg blijft */
  min-width: 600px; /* Stel een minimale breedte in */
  border-collapse: collapse;
}

#scoreboard th, #scoreboard td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 0.8rem;
}

#scoreboard th {
  background-color: #4CAF50;
  color: white;
}

#scoreboard td {
  background-color: #f9f9f9;
}

#add-score-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

#add-score-form label {
  margin-top: 0.5rem;
}

#add-score-form input, #add-score-form button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#add-score-form button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-score-form button:hover {
  background-color: #45a049;
}
.logo-container {
  text-align: center;
  margin: 0;
  background-color: #fff; 
}
.logo-container img {
  width: 100%; 
  height: auto; 
  display: block; 
}
